@import "tailwindcss";
@plugin "daisyui" {
  themes: nord, sunset;
}

@custom-variant dark (&:where([data-theme="sunset"], [data-theme="sunset"] *));

@layer base {
  body {
    @apply bg-base-100 text-base-content;
  }
}
